<h1>Esta es la vista para mostrar los posts</h1>
<p>
  <strong>Title:</strong>
  <p><%= @post.title %></p>
</p>
<hr>
<p>
  <strong>Text:</strong>
  <p><%= @post.text %></p>
</p>
<%= link_to "Back", :action => :index %>